* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Themes */

/* Default Blue Theme */

:root {
  --primary-colour:#181731;
  --nav-colour: #242344;
  --nav-text-colour: #ffffff;
  --text-input-colour: #7289DA;
}

/* Light Theme */

.light-theme {
  --primary-colour:#051622;
  --nav-colour: #001730;
  --nav-text-colour: #DEB992;
  --text-input-colour: #1BA098; 
}

/* Colour Values and sets */

/* navbars = #242344 */
/* infobox = #242344 */
/* nav-text = #ffffff */
/* text-input = #7289DA */

/* Colour Values and sets */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url('../images/home-page-background.jpg') no-repeat; */
  background-color: var(--primary-colour);
  background-size: cover;
  background-position: center;
}

/* navigation bar wrapper css  */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-colour);
  border-radius: 8px;
}

 /* logo nav bar css */

.nav-logo-img {
  position: relative;
  width: 70px;
  height: 70;
}

/* navigation bar css  */

.active {
  color: #778fe8;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: var(--nav-text-colour);
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--text-input-colour);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* Profile Nav Bar CSS */

.navigation-profile-bar a {
  position: relative;
  font-size: 1.4em;
  color: var(--nav-text-colour);
  text-decoration: none;
  font-weight: 500;
  margin-left: 12px;
}

/* .navigation-profile-bar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--text-input-colour);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
} */

.navigation-profile-bar a:hover {
  color: var(--text-input-colour);
}

.navigation-profile-bar a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation-profile-bar .btnLogin-popup {
  position: relative;
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--text-input-colour);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 15px;
  transition: .5s;
}

.navigation-profile-bar .btnLogin-popup:hover {
  background: var(--text-input-colour);
  color: #162938;
}

.error-box {
  width: 75%;
  height: 12%;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 6px;
  position: absolute;
  top: 90%;
}

.error {
  color: crimson;
  text-align: left;
  font-size: 1.3em;
  position: absolute;
  top: 88%;
}


/* Footer css */

.footer-wrapper {
  position: absolute;
  top: 3500;
  left: 0;
  width: 100%;
  height: 10%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: var(--nav-colour);
  border-radius: 8px;
}

.footer-nav-high a {
  position: relative;
  font-size: 1em;
  color: var(--nav-text-colour);
  text-decoration: none;
  font-weight: 300;
  left: 203%;
  align-items: center;
  margin-left: 35;
  justify-content: space-between;
  bottom: 5;
}

.footer-nav-socials {
  position: relative;
  font-size: 1.4em;
  color: #778fe8;
  text-decoration: none;
  left: 1065px;
  align-items: center;
  justify-content: space-between;
  bottom: -5;
}

.footer-nav-low a {
  position: relative;
  font-size: 1.8em;
  color: var(--text-input-colour);
  font-weight: 300;
  left: 1087px;
  justify-content: space-between;
  bottom: -15;
}

.copyright-text {
  position: relative;
  font-size: 1em;
  color: var(--text-input-colour);
  font-weight: 300;
  right: 57%;
}

.footer-logo {
  position: relative;
  right: 20%;
}